.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ebf8ff;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
}

.certify {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    background-color: #ebf8ff;
}

.subheading {
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 33px;
    grid-column: 2;
    justify-self: center;
    color: #1a365d;
}
