.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ebf8ff;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
}

.certify {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    background-color: #ebf8ff;
}

.subheading {
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 33px;
    grid-column: 2;
    justify-self: center;
    color: #1a365d;
}

.navigation {
    max-width: 100%;
    font-family: "Helvetica", sans-serif;
    background: #1a365d;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.link {
    font-family: "Helvetica", sans-serif;
    margin: 4px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 33px;
    /* background: #2b6cb0; */
}

.link:hover {
    background-color: #2c5282;
}
