.paragraph {
    font-family: "Helvetica", sans-serif;
    color: #1a365d;
    font-size: 22px;
    text-align: center;
    width: 800px;
    background-color: white;
    border-radius: 100px;
    padding: 33px;
    margin: 0 auto;
}
